examples/example.json
[
    {
        "id": "44cb1ec64f0c78d1",
        "type": "bcrypt",
        "z": "d9738de9e7b466e0",
        "name": "asdf",
        "action": "encrypt",
        "field": "payload",
        "hash": "payload",
        "target": "",
        "assignment": "replace",
        "match": "match",
        "outputs": 1,
        "rounds": "10",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "cd5ed81131b0f293"
            ]
        ]
    },
    {
        "id": "ba38225ef5691ed6",
        "type": "inject",
        "z": "d9738de9e7b466e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "44cb1ec64f0c78d1"
            ]
        ]
    },
    {
        "id": "cd5ed81131b0f293",
        "type": "debug",
        "z": "d9738de9e7b466e0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "69d161daec8d0273",
        "type": "bcrypt",
        "z": "d9738de9e7b466e0",
        "name": "",
        "action": "verify",
        "field": "payload",
        "hash": "hash",
        "assignment": "replace",
        "match": "isGood",
        "outputs": 2,
        "rounds": 10,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "8ae20e590a01fd25"
            ],
            [
                "15cba0e8d11eda76"
            ]
        ]
    },
    {
        "id": "aef0ed34375d92bd",
        "type": "inject",
        "z": "d9738de9e7b466e0",
        "name": "Good",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "hash",
                "v": "$2a$10$1HDtq5vldsTmNlacSgzs0e/nvtpFct0KoP63nlPWzpKnKcKgAcfwS",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "69d161daec8d0273"
            ]
        ]
    },
    {
        "id": "8ae20e590a01fd25",
        "type": "debug",
        "z": "d9738de9e7b466e0",
        "name": "good",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "isGood",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "15cba0e8d11eda76",
        "type": "debug",
        "z": "d9738de9e7b466e0",
        "name": "bad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "isGood",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "ffc4409f7cb3f6ba",
        "type": "inject",
        "z": "d9738de9e7b466e0",
        "name": "Bad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "hash",
                "v": "$2a$10$1HDtq5vldsTmNlacSgzs0e/nvtpFct0KoP63nlPWzpKnKcKgAcfwS",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "69d161daec8d0273"
            ]
        ]
    },
    {
        "id": "bbe0dced4cdd0e52",
        "type": "bcrypt",
        "z": "d9738de9e7b466e0",
        "name": "",
        "action": "verify",
        "field": "payload",
        "hash": "hash",
        "target": "",
        "assignment": "replace",
        "match": "isGood",
        "outputs": 1,
        "rounds": 10,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "927a9666a84b65ef"
            ]
        ]
    },
    {
        "id": "619be956afc9797c",
        "type": "inject",
        "z": "d9738de9e7b466e0",
        "name": "Good",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "hash",
                "v": "$2a$10$1HDtq5vldsTmNlacSgzs0e/nvtpFct0KoP63nlPWzpKnKcKgAcfwS",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "bbe0dced4cdd0e52"
            ]
        ]
    },
    {
        "id": "927a9666a84b65ef",
        "type": "debug",
        "z": "d9738de9e7b466e0",
        "name": "GOOD OR BAD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "isGood",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd512b7da17fdc6f",
        "type": "inject",
        "z": "d9738de9e7b466e0",
        "name": "Bad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "hash",
                "v": "$2a$10$1HDtq5vldsTmNlacSgzs0e/nvtpFct0KoP63nlPWzpKnKcKgAcfwS",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "bbe0dced4cdd0e52"
            ]
        ]
    },
    {
        "id": "9d7d14ceb6ad6c7d",
        "type": "bcrypt",
        "z": "d9738de9e7b466e0",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "payload",
        "target": "hash",
        "assignment": "assign",
        "match": "match",
        "outputs": 1,
        "rounds": "10",
        "x": 230,
        "y": 560,
        "wires": [
            [
                "d5fbfbeed27b8cf3"
            ]
        ]
    },
    {
        "id": "9d85d81f3dd45ef1",
        "type": "inject",
        "z": "d9738de9e7b466e0",
        "name": "good",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "9d7d14ceb6ad6c7d"
            ]
        ]
    },
    {
        "id": "d5fbfbeed27b8cf3",
        "type": "bcrypt",
        "z": "d9738de9e7b466e0",
        "name": "",
        "action": "verify",
        "field": "payload",
        "hash": "hash",
        "target": "",
        "assignment": "replace",
        "match": "isGood",
        "outputs": 1,
        "rounds": 10,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "33375c74cb0b827b"
            ]
        ]
    },
    {
        "id": "33375c74cb0b827b",
        "type": "debug",
        "z": "d9738de9e7b466e0",
        "name": "good",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "isGood",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "465fdbece6b334f3",
        "type": "bcrypt",
        "z": "d9738de9e7b466e0",
        "name": "",
        "action": "verify",
        "field": "payload",
        "hash": "hashz",
        "target": "",
        "assignment": "replace",
        "match": "isGood",
        "outputs": 1,
        "rounds": 10,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "b1af859833029bb1"
            ]
        ]
    },
    {
        "id": "484a0c96cde5eb67",
        "type": "bcrypt",
        "z": "d9738de9e7b466e0",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "payload",
        "target": "hash",
        "assignment": "assign",
        "match": "match",
        "outputs": 1,
        "rounds": "10",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "465fdbece6b334f3"
            ]
        ]
    },
    {
        "id": "b1af859833029bb1",
        "type": "debug",
        "z": "d9738de9e7b466e0",
        "name": "bad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "isGood",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "4f160fe2dae79fc3",
        "type": "inject",
        "z": "d9738de9e7b466e0",
        "name": "bad",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "484a0c96cde5eb67"
            ]
        ]
    },
    {
        "id": "f09cabed71250e79",
        "type": "comment",
        "z": "d9738de9e7b466e0",
        "name": "Hash msg.payload and replace field with hash",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "b4decbdcd72d45fb",
        "type": "comment",
        "z": "d9738de9e7b466e0",
        "name": "Compare msg.hash against msg.payload and assign result to msg.isGood",
        "info": "",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "c6434dd000580917",
        "type": "comment",
        "z": "d9738de9e7b466e0",
        "name": "Compare msg.hash against msg.payload and assign result to msg.isGood using seperate output",
        "info": "",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "14194bdc85dc316a",
        "type": "comment",
        "z": "d9738de9e7b466e0",
        "name": "Other",
        "info": "",
        "x": 90,
        "y": 520,
        "wires": []
    }
]